server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        show_sql: false
        format_sql: false
    open-in-view: false
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
  cache:
    type: redis
    redis:
      time-to-live: 3600000 # 1 hour (ms)
      cache-null-values: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            client-name: Google
            authorization-grant-type: authorization_code
            redirect-uri: ${SERVER_URL}/login/oauth2/code/google
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
        redirect:
          base-url: ${OAUTH2_REDIRECT_URL}
          callback-path: ${OAUTH2_REDIRECT_PATH}
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      access-token-validity: ${JWT_ACCESS_TOKEN_VALIDITY}
      refresh-token-validity: ${JWT_REFRESH_TOKEN_VALIDITY}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health
tour-api:
  service-key: ${TOUR_API_SERVICE_KEY}

logging:
  level:
    root: info
    org.springframework: info
